:root{
  font-family: 'Roboto', Helvetica, sans-serif;
}

/* MENU BURGER 2 */

@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

a{
  color: #fff;
  text-decoration: none;
}

.top-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 60px;
  padding: 1em;
  width: 100vw;
  z-index: 100;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  
}

.menu > li {
  margin-right: 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
  
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

}



/* header name */

.name__profile___image{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.image__profile{
  height: 60px;
  border-radius: 50%;
  
  
}

.firs__last___name{
  font-size: 22px;
}

/* Hello */

.name__Lastname{
  font-size: 24px;
  padding: .8rem;
  font-family: "Roboto";
  
}

#strong__name{
  font-weight: 700;
}

.hand__waving{
  height: 80px;
  margin-top: 3.2rem;
  
}

.hand__and___text{
  display: inline;

}

.hand_and_switch {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;

}


.text__hola{
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 24px;
}

.text__mellamo{
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 32px;
  line-height: 3rem;
  
}

/* switch language */ 

.switch {
  margin-top: 5rem;
  margin-right: 1rem;
  position: relative;
  display: flex;
  width: 120px;
  height: 34px;
  z-index: 1;
 }
 
 .switch input {
  display: none;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f46b45;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
 }
 
 input:checked + .slider {
  background-color: #0E6EB8;
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(85px);
 }
 
 /*------ ADDED CSS ---------*/
 .slider:after {
  content: 'ESPAÑOL';
  color:  white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
 }
 
 input:checked + .slider:after {
  content: 'ENGLISH';
 }
 
 /*--------- END --------*/



/* Social Links */


.links__social{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
  
}

.list__links{
  display: flex;
  gap: 52px;
  max-width: 400px;
  align-items: center;

  
}


.link__social___images{
  height: 45px;
}

/* Cv Button */

.cv__button{
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;

}

.download__cv___btn{
  padding: .5rem 1rem .5rem 1rem;
  width: 250px;
  border-radius: 12px;
  background: #fff;
  border-color: #ECEFF1;
}

.download__cv___btn:hover{
  font-weight: 500;
  background: #EAF2FD;
}

.download__icon{
  height: 24px;
}

/* About Me */

.about__me{
  background:#EAF2FD;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  line-height: 1.5;
  padding: 3rem 0 3rem 0;  
}

.text_sobremi{
  text-align: center;
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 28px;
}

.paragraph__sobremi{
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-size: 18px;
  text-align: center;
  
}

/* Skills */

.skills{
  padding: 3rem 0 3rem 0;
}

.text__skills{
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 28px;
  

}

.skill__boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1rem;
}


.box__skills{
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 12px;
}

.icon__skill{
  height: 80px;
  width: 80px;
}

.text__skill___icon{
  font-size: 18px;
  font-weight: 500;
}

/* Hobbies */


.hobbies{
  background: #fcf0ba;
  padding: 3rem 0 3rem 0;
  
}

.text__hobbies{
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 28px;
}

.hobbies__boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1rem;
  
}

.box__hobbies{
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 12px;
  margin-top: 1rem;
  
}

.icon__hobbie{
  height: 80px;
  width: 80px;
}

/* Projects */ 

.projects{
  padding: 3rem 0 3rem 0;
}


.text__projects{
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 28px;
}

.projects__boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1rem;
  
}

.box__projects{
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 12px;
  
}

.icon__project{
  height: 120px;
  width: 120px;
  border-radius: 5%;
  border: solid #72b3df 2px;
}

/* buttons projects */ 



.btn__repo{
  width: 100px;
  height: 40px;
  margin-bottom: .5rem;
  background: #fff;
  border-color: #72b3df;
  
}

.btn__repo:hover{
  font-weight: 500;
  background:#72b3df;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
  color:#fff;
}

.btn__demo{
  width: 100px;
  height: 40px;
  margin-bottom: .5rem;
  background: #fff;
  border-color: #72b3df;
}

.btn__demo:hover{
  font-weight: 500;
  background:#72b3df;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
  color:#fff;
}

.icon__repo, .icon__demo{
  height: 20px;
  margin-right: 10px;

}

/* contact */ 

.contact{
  margin-top: 12rem;
  background:#EAF2FD;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  line-height: 1.5;
  padding: 3rem 0 0 0;
   
}

.text__contact{
  text-align: center;
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 28px;
}

.paragraph__contact{
  text-align: center;
}

form { 
  max-width:420px; 
  margin:50px auto; 
  align-items: center;
  padding-bottom: 1rem;
}

.feedback-input {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #064f92;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  box-sizing: border-box;
  outline:0;

}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#064f92;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  justify-content: center;
}
[type="submit"]:hover { background:#03295c; }

footer{
  text-align: center;
  margin-bottom: 5px;
  font-weight: 500;
}

/* Footer Icons */

.little__icons{
  margin-top: 15px;
  height: 25px;

}

